Doxygen/*
DampServer/*/bin/*/*
DampServer/*/obj/*/*
TankGame/TankGame/TankGame/bin/*
TankGame/TankGame.Tests/obj/*
TankGame/TankGame.Tests/bin/*
TankGame/TankGame/TankGame/bin/*
bin
/DampServer/DampServer/obj

obj

obj
bin
