Doxygen/*
DampServer/*/bin/*/*
DampServer/*/obj/*/*
DampLogin/*/bin/*/*
DampLogin/*/obj/*/*
TankGame/TankGame/TankGame/bin/*
TankGame/TankGame.Tests/obj/*
TankGame/TankGame.Tests/bin/*
TankGame/TankGame/TankGame/bin/*